*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav{
    height: 15vh;
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

ul{
    display: flex;
    color:rgb(182, 177, 169)
    
}

ul li{

    margin-right: 25px;
    font-size: 18px;
    list-style: none;
}

 button{
    border:none;
    font-size:24px;
    color: white;
    background-color:#0c8bfd;
    border-radius: 25px;
    padding:15px 25px;

}

.hero1{
    height: 90vh;
    background-color:black;
    display: flex;
    



}

.left-part{
  width:50%;
 

}

.right-part{
  width: 50%;
  

}

.first-footer {
  background-color: rgb(27, 26, 26);
  height:20vh;
  display:flex;
  justify-content:space-around;
  align-items:center;
  
 
}

.cards{
    display:flex;
    height: 70vh;
    justify-content: space-around;
    align-items: center;

}


.cards span {
    width:300px;
    height: 300px;
    border:1px solid black;
    border-radius: 15px;


}

.cards span:nth-child(2){
  
  background-color: black;
  position:relative;
  top:-10%;
  color: white;

}

.cards span img{
     margin:8% 33% ;
   


}

.feature{
  display:flex;
  height:80vh;



}

.feature1{

  width:50%;
  
}
.feature2{
   width:50%; 


}




.button
  {
  display: flex;
  width:500px;
  height:80px;
  background-color: #0c8bfd;
  justify-content: space-between;
  align-items: center;
  padding:0px 10px ;
  margin:10px;
  border-radius:42px;
  font-weight: 300;
  

  }


  .button1
  {
  display: flex;
  width:500px;
  height:80px;
  
  justify-content: space-between;
  align-items: center;
  padding:0px 10px ;
  border:1px solid rgb(95, 95, 95);
  border-radius:42px;
  margin:10px;
  font-weight: 300;
    
  }

  .feature1{
     
    position: relative;
    left:10%;



  }

 


.feature2 div{
  width:500px;
  height:450px;

  border-radius:16px;
  background-color: black;



}
  
.feature2 div ul{
  display:flex;
  flex-direction:column;


}
 


.feature2 div ul li {

  color: white;
  background-color: rgb(77, 77, 77);
  margin-top:20px;
  margin-left:10px;
  border-radius: 8px;
  padding :7px;
  font-size: 18px;

}

.feature2 div ul li span{
 
  
  height: 15px;
  width: 15px;
  background-color:white;
  border-radius:50%; 
  display: inline-block;
  margin-left: 3px;
  margin-right:8px;

}

.hero3{

  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;

}

.hero3 span{
  color:white;
  font-size:45px;
  text-align: center;
  

}

.hero31{
  
 height: 40%;
 position: relative;
 top:10%;
 left:-10%;

}


.hero32{

    
 height: 40%;
 position: relative;
 top:10%;
 left:10%;


}

.hero4{
  height:80vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;



}

.hero4 span{
  
  width:300px;
  height:500px;

  border-radius: 10px;
  



}

.hero4 span:nth-child(1){
  background-color:white;

  color: black;


}
.hero4 span:nth-child(2){
  background-color:#0c8bfd;
  color: white;

}
.hero4 span:nth-child(3){
  background-color:white;
  color: black;

}

hr{
  width: 260px;
  margin-top: 20px;
  margin-left: 20px;
}

.hero4 span ul{
 display:flex;
 flex-direction:column;

}

.hero4 span ul li{
color: black;
font-size:16px; 
margin-top: 8px;
margin-left:16px;
font-weight: 500;

}

.hero5{
  display:flex;


}

.hero5 span:nth-child(1){
  width:50%;
  height:30vh;
  font-size: 30px;
  display:flex;
  align-items:center;
  position: relative;
  left:5%;
  
}
.hero5 span:nth-child(2){

  font-size: 20px;
  height:30vh;
  display:flex;
  align-items:center;
  position: relative;
  left:5%;
  color: rgb(56, 56, 56);
}

.hero511{
  
 height: 70vh;
 width:100%;
 display: flex;


}

.hero511 span:nth-child(1){

 width: 600px;
 height: 350px;
 border: 1px solid black;
 border-radius:26px;
 background-color: black;
 position: relative;
 left:5%;


}

.hero511 span:nth-child(2){

 width: 600px;
 height:350px;
 border: 1px solid black;
 margin-left: 5px;
 border-radius:26px;
 position: relative;
 left:7%;

}

.lastpage1{
      padding:20px;
      background-color: rgb(75, 74, 74);


}
